:root {
  --body-bg: #212529;
  --body-color: snow;
}

body {
  min-width: 30%;
  min-height: 30%;
  background-color: var(--body-bg);
  color: var(--body-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.calculator {
  border: 2px solid;
  border-radius: 5px;
  height: 70vh;
  width: 50vh;
  padding: 4px;
  background: black;
}

.display {
  border: 10px solid black;
  background-color: rgb(107, 94, 94);
  width: auto;
  height: 20vh;
  margin-bottom: 2px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding: 2px;
  font-size: xx-large;
  font-weight: bold;
}

.buttons-grid {
  padding: 20px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.buttons-grid button {
  height: 11vh;
  font-size: x-large;
  overflow: hidden;
  min-width: 0;
}

.digit {
  background-color: rgb(30, 30, 54);
}

.digit {
  color: aliceblue;
}

.operator,
.clear,
.equals {
  background-color: orange;
}

.operator:focus {
  background-color: rgb(255, 201, 99);
}
