:root {
  --body-bg: #212529;
  --body-color: snow;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.calculator {
  border: 2px solid;
  border-radius: 5px;
  height: 70vh;
  width: 40vh;
  padding: 4px;
}

.display {
  background-color: rgb(107, 94, 94);
  width: 100%;
  height: 10vh;
  margin-bottom: 2px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.buttons button {
  height: 15vh;
}
